<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">    
    <title>Home Page</title>
</head>
<body>
    <script type="text/javascript">
        function msgsalert(){
            alert("{% for msg in messages %}{{msg}}{% endfor %}");
        }
    </script>
    <div id="header">
            <span id="logo">Store</span>
        <div id="header-nav">
            <form action="search_product" method="get" id="search-input">
                <FontAwesome icon={faSearch}/>
                <input type="text" className="search" placeholder="Search.."></input>
            </form>
            <span className="header-nav-btn"><a href="?" onClick={openCart()}>Cart</a></span>
            <span className="header-nav-btn"><FontAwesome icon={faUser}/>Profile</span>
        </div>
    </div>


    <h1>Home page here</h1>
    <h1>{{user.username}}</h1>

    <ul>
        <li><a href='products.html'>go to products</a></li>
        <li><a href='user_logout'>logout</a></li>
    </ul>
    <h2>Sign In</h2>
    <form method="POST" action="user_login">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        
        <button type="submit" style="padding: 8px 12px;">Login</button>
        
        </form>
    
        <h2>Sign Up</h2>
    <form method="POST" action="signup">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <!-- <input type="text" name="firstname" placeholder="First Name">
        <input type="text" name="lastname" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email id"> -->
        <input type="password" name="password" placeholder="Password">
        <button type="submit" style="padding: 8px 12px;">Login</button>

    </form>

    <form method="get" action="products">
        <input type="text" name="product" placeholder="Search..">
        <button type="submit" style="padding: 8px 12px;">Search</button>
    </form>
</body>
</html>