<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/product.css">
    <title>Products page</title>

    <script>
        
        
        function addToCart(id){
            let quantity = Number(localStorage.getItem(id));
            if(quantity!==0){
                quantity = quantity + 1;
                localStorage.setItem(id,quantity);
            }
            else{
                localStorage.setItem(id,1);
            }
            console.log(localStorage.length);
        }
    </script>
    
</head>
<body>
    <!-- {% load static %}
    {{ MEDIA_URL }} -->
    <div id="header">
        <h1>Products Page here</h1>

    </div>
    <div id="searchForm">
        <form method="get" action="products">
            <input type="text" name="product" placeholder="Search..">
            <button type="submit" style="padding: 8px 12px;">Search</button>
        </form>
    </div>
    
    <p>{{num_of_products}} products found for <strong>{{search}}</strong></p> 

    <div id="products-container">
        <!-- {% for product in products %} -->
            <div class="product-card">
                <img src="/media/products/Fastrack_Limitless_FS1_Pro_Smart_Watch.jpg" class="product-image" alt="">
                <div class="product_details">
                    <p class="product-name">product.name</p>
                    <p class="product-brand">product brand</p>
                    <price>₹ XXX.XX /-</price>
                </div>
                <button type="submit" onclick="addToCart('prod1')">Add to Cart</button>
                <button>Buy</button>
            </div>
            <div class="product-card">
                <img src="/media/products/Fastrack_Limitless_FS1_Pro_Smart_Watch.jpg" class="product-image" alt="">
                <div class="product_details">
                    <p class="product-name">product.name</p>
                    <p class="product-brand">product brand</p>
                    <price>₹ XXX.XX /-</price>
                </div>
                <button type="submit" onclick="addToCart('prod2')">Add to Cart</button>
                <button>Buy</button>
            </div>
            <div class="product-card">
                <img src="/media/products/Fastrack_Analog_Unisex_Adult_Watch.jpg" class="product-image" alt="">
                <div class="product_details">
                    <p class="product-name">product.name</p>
                    <p class="product-brand">product brand</p>
                    <price>₹ XXX.XX /-</price>
                </div>
                <button type="submit" onclick="addToCart('prod3')">Add to Cart</button>
                <button>Buy</button>
            </div>
            <div class="product-card">
                <img src="/media/products/Fastrack_Limitless_FS1_Pro_Smart_Watch.jpg" class="product-image" alt="">
                <div class="product_details">
                    <p class="product-name">product.name</p>
                    <p class="product-brand">product brand</p>
                    <price>₹ XXX.XX /-</price>
                </div>
                <button type="submit" onclick="addToCart('prod4')">Add to Cart</button>
                <button>Buy</button>
            </div>
            <div class="product-card">
                <img src="/media/products/Fastrack_Analog_Unisex_Adult_Watch.jpg" class="product-image" alt="">
                <div class="product_details">
                    <p class="product-name">product.name</p>
                    <p class="product-brand">product brand</p>
                    <price>₹ XXX.XX /-</price>
                </div>
                <button onclick="addToCart('prod5')">Add to Cart</button>
                <button>Buy</button>

            </div>
            <div class="product-card">
                <img src="/media/products/Fastrack_Analog_Unisex_Adult_Watch.jpg" class="product-image" alt="">
                <div class="product_details">
                    <p class="product-name">product.name</p>
                    <p class="product-brand">product brand</p>
                    <price>₹ XXX.XX /-</price>
                </div>
                <button onclick="addToCart('prod5')">Add to Cart</button>
                <button>Buy</button>

            </div>
        <!-- {% endfor %} -->
    </div>
    <!-- <div id="products-container">
        {% for product in products %}
            <div id="product-card" class="product">
                <span>{{product.pk}}</span>
                <span>{{product.name}}</span>
                <img src="{{ product.prod_image }}" alt="">
            </div>
        {% endfor %}
    </div> -->

</body>
</html>